<section class="sign-up-page">
    <div class="form-heading">
        <h1>Sign Up</h1>
    </div>
    <div class="form-section">
        <form class="signup-form" id="signup-form">
            <div>
                <label for="username-signup">Select a Username</label>
                <input type="text" class="add class" id="username-signup" placeholder="Username Here!" />
            </div>
            <div>
                <label for="password-signup">Select a password</label>
                <input type="password" class="add class" id="password-signup" placeholder="Password Here!" />
            </div>
            <div>
                <button type="submit" class="add class">Sign Up!</button>
            </div>
        </form>
    </div>

    <a href="/add the login link here" class="login-link">log in instead</a>
</section>

<script src="/javascript/signup-page.js"></script>